.main {
    display: flex;
    font-family: Consolas, Verdana,Georgia, Calibri,   sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cell,
.header {
    margin: 0px;
  
}

.header {
    font-size: 20px;
    font-weight: bold;
}